body {
  width: 100vw; height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width:  100%;
  height: 100%;
  display:  flex;
  justify-content:  center;
  align-items:  center;
}

.card {
  width: 60%;
  height: 85%;
  border: 1px solid #e0e9f0;
  border-radius:  10px;
  padding: 10px;
  background: aliceblue;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  overflow: hidden;
}

.card .header {
  width: calc(100% - 20px);
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header input {
  position: absolute;
  left: 0;
  background:  transparent;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  outline:  none;
}

.search-zip {
  width: 25px;
  height: 25px;
  background: #e7e7e7;
  position:  absolute;
  left: 169px;
  border-radius: 100%;
  font-size: .75em;
  display:  flex;
  justify-content:  center;
  align-items:  center;
  cursor:  pointer;
}

.search-zip:hover {
  background: #CCCCCC
}

.weather {
  display:  flex;
  justify-content:  center;
  align-items:  center;
  flex-direction:  column;
}

.weather-text {
  display:  flex;
  justify-content: center;
  align-items:  center;
  flex-direction:  column;
}

.weatherHeader {
  font-size:  .75em;
  margin: 10px;
  border-bottom:  1px solid #e7e7e7;
  padding: 2px;
}

.weather-type {
  font-size: 2em;
}

.weather-img img {
  width: 100%;
}

.weather-img {
  width: 75%;
  margin-top: -10%;
}

.temps {
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
  align-items:  center;
}

.highs-lows {
  display:  flex;
}

.current-temp {
  font-size: 3em;
}

.highs-lows div {
  padding: 0 10px;
  /* border-right: 1px solid black; */
}

.highs-lows div:nth-of-type(1) {
  border-right: 1px solid #000000;
}

.temp-markers {
  display:  flex;
}

.temp-markers div {
  margin: 0px 10px;
  font-size: 0.65em;
}